<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <a href="/"><div class="logo">
        <img class="book" src="https://i.imgur.com/oUVHIvg.png"><h1>Bookly</h1>
    </div></a>
    <nav class="black">
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="post-container">
      <h1>Sign In</h1>
      <form action="/sessions" method="POST">
        <label for="name">User Name:</label>
        <input type="text" name="username" required/>
        <label for="password">Password:</label>
        <input type="password" name="password" />
        <br>
        <input type="submit" value="Submit">
      <form>
    </div>
  </body>
</html>
